/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 100;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

/* DESKTOP NAV */
#desktop-nav {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: rgb(0 74 173);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    transition: color 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #A96DA3;
}

/* Video Container Styles */
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 998; /* Ensures it's below the title */
    /* Remove pointer-events: none to allow interaction with the video */
}

/* Make the video smaller */
video {
    cursor: pointer; /* Change cursor to indicate it's clickable */
    height: 80%; /* Adjust the width to 60% of the container */
    pointer-events: all; /* Ensure that clicks on the video are captured */
}

